<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Coding Resources</title>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
</head>
<body>
    <svg width="100%" height="300">
        <rect x="0" y="0" width="100%" height="100%" fill="#3f51b5"/> 
        <text x="50%" y="50%" fill="#fff" text-anchor="middle" dominant-baseline="middle" font-size="24px">Luibeebo.com</text>
        <polygon points="50,150 100,100 150,150" fill="#ff5722"/> <!-- Example polygon shape and color -->
        <polygon points="20,10 25,30 45,30 30,45 35,65 20,50 5,65 10,45 -5,30 15,30" fill="#ffff00"/>
    </svg>

    <nav class="menu">
        <ul>
            <li><a href="../index.html">Index</a></li>
            <li><a href="./two.html">Page Two</a></li>
            <li><a href="./three.html">Page Three</a></li>
        </ul>
    </nav>

    <h1>Helpful Resources on the Internet:</h1>

    <table border="1">
        <tr>
            <td>MDN Web Docs</td>
            <td>Khan Academy</td>
            <td>HTML Tutorials</td>
        </tr>
        <tr>
            <td><a href = "https://developer.mozilla.org/en-US/">https://developer.mozilla.org/en-US/</a></td>
            <td><a href = "https://www.khanacademy.org/computing/computer-programming/html-css">https://www.khanacademy.org/computing/computer-programming/html-css</a></td>
            <td><a href = "https://www.htmldog.com">https://www.htmldog.com</a></td>
        </tr>
    </table>


</body>
</html>
